body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;  /* 방향을 column으로 설정 */
    gap: 10px;  /* 각 요소들 사이의 간격 */
    align-items: flex-start;  /* label과 select/input을 왼쪽 정렬 */
}

label {
    margin-bottom: 5px;  /* label 아래의 간격 */
}

input[type="number"], select {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    appearance: none;  /* 기본 select 스타일 제거 */
    background-color: #fff;
    font-family: 'Arial', sans-serif;  /* 폰트를 일관성 있게 설정 */
}

/* select 요소에 대한 화살표 아이콘을 커스텀하기 위한 스타일 */
select::-ms-expand {
    display: none;  /* IE 및 Edge 브라우저에 대한 처리 */
}

select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" fill="%23ddd" viewBox="0 0 12 6"><path d="M1.41 0L6 4.58L10.59 0L12 1.41L6 7.41L0 1.41L1.41 0Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

header {
    padding: 20px;
    background-color: #00cc99;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo-box {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-box a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}


.chicken-btn {
    background-color: #FFC107;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
}

.chicken-btn:hover {
    background-color: #FFA000;
    
}

.day-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.day-box {
    padding: 40px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #E1F5FE;
    transition: background-color 0.3s;
}

.day-box:hover {
    background-color: #B3E5FC;
}

.performance-desc {
    font-size: 12px;
    color: #888; /* 연한 글씨로 설정 */
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    text-align: right;
    padding-right: 20px;  /* 오른쪽 여백을 주어 더 깔끔하게 보이도록 합니다 */
}

.day-section a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit;        /* 링크의 색상을 상속받게 설정 */
}