<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/analysis.css}">
    <title>운동 영상 분석</title>
</head>
<body>
<header>
    <div class="logo-box">
        <a th:href="@{/}">Health Lounge</a>
    </div>
    <div class="logo-box">
        <a>운동 분석영상</a>
    </div>
</header>

<h1>


</h1>
<form id="upload-form" action="/analysis" th:action="@{/analysis}" method="post" enctype="multipart/form-data">
    <input type="file" id="video-input"  name="file" accept="video/*">
    <input type="submit" value="분석 시작">
</form>

<div th:if="${error}" th:class="field-error">
    <p class="field-error" th:text="${error}">오류 메시지</p>
</div>

<div id="video-container">
    <div id="original-video-wrapper">
        <video id="original-video" width="600" height="300" controls>
            <source th:src="${originalVideoUrl}" type="video/mp4">
            브라우저가 해당 서비스를 지원하지 않습니다.
        </video>
        <p><i>나의 영상</i></p>
    </div>

    <div id="guide-video-wrapper">
        <video id="guide-video" width="600" height="300" controls>
            <source th:src="${guideVideoUrl}" type="video/mp4">
            브라우저가 해당 서비스를 지원하지 않습니다.
        </video>
        <p><i>가이드 영상</i></p>
    </div>
</div>

<div id="advice-container">
    <h3>조언</h3>
    <p th:text="${advice}">쓴소리</p>
</div>
