body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f8f5; /* 약간의 민트색 톤 추가 */
}

h1 {
    text-align: center;
    margin: 40px 0;
    color: #00664d; /* 더 진한 녹색으로 제목 강조 */
}

#upload-form {
    text-align: center;
    margin-bottom: 40px;
}

header {
    padding: 20px;
    background-color: #00cc99;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.logo-box {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-box a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

#original-video-wrapper,
#guide-video-wrapper {
    width: 600px; /* 여기에서 직접 비디오 박스의 너비를 설정합니다. 원하는 크기로 조절 가능합니다. */
    margin: 0 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;  /* 영상과의 간격을 주기 위해 추가 */

}

#original-video,
#guide-video {
    width: 100%; /* 비디오 너비를 비디오 박스의 100%로 설정하여 박스에 꽉 차게 만듭니다. */
    height: auto;
    display: block;
}


#advice-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #e8f8f5;
    border: 1px solid #00cc99;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#advice-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #00664d;
}

#advice-container p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #004d33;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    text-align: right;
    padding-right: 20px;  /* 오른쪽 여백을 주어 더 깔끔하게 보이도록 합니다 */
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
    display: flex;
    justify-content: center;
}