body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    padding: 20px;
    background-color: #00cc99;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.logo-box a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.routine-title {
    text-align: center;
    margin: 20px auto; /* Center the title horizontally */
    color: #00664d;
    width: 100%; /* Take up the full available width */
    max-width: 800px; /* Limit the maximum width */
}




.routine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50PX;
    max-width: 100%; /* Take up the full available width */
    margin: 0 auto;
    background-color: #fff;
    padding: 50px; /* Adjust padding */
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    height: auto; /* 높이를 자동으로 설정 */
    width: auto;

}



.exercise-card  {
    font-size: 0.50em; /* 크기 조정 */
    margin-bottom: 3px;
    color: #004d33;
    flex-grow: 1;
    text-align: right;
    margin-right: 20%;
    width: auto;
}

.rep-input,
.set-input {
    width: 50px; /* 너비 조정 */
    padding: 4px;
    margin: 0 8px; /* 입력 사이의 마진 조정 */
    border: 1px solid #aaa;
    text-align: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 1em; /* 크기 조정 */
}



.routine-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;

}

.save-button {
    display: block;
    margin: 20px auto; /* 가운데 정렬 */
    padding: 10px 20px;
    background-color: #00cc99;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #00997a; /* 버튼 호버 시 약간 어두운 색으로 변경 */
}