<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동루틴추천</title>
    <link rel="stylesheet" th:href="@{css/routineList.css}">
</head>
<body>
<header>
    <div class="logo-box">
        <a th:href="@{/}">Health Lounge</a>
    </div>
    <div class="logo-box">
        <a>루틴 추천</a>
    </div>
</header>

<div class="routine-wrapper">

</div>
<script th:src="@{/js/routineList.js}" defer></script>
</body>
</html>
